@model SimpleCURDWeb.Models.老師資料表

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>老師資料表</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.老師姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.老師姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.研究領域)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.研究領域)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.老師編號 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
